<!-- templates/login.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow rounded">
            <div class="card-body">

                <div class="d-flex justify-content-center mb-3">
                    <img src="{{ url_for('static', filename='logo/Logo_Institut_Teknologi_Calvin_(CIT).png') }}" alt="Logo" style="max-width: 120px;">
                </div>

                <form method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn w-100" style="background-color: #800507; color: white;">Login</button>
                </form>

                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="alert alert-danger mt-3" role="alert">
                      {% for message in messages %}
                        {{ message }}<br>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <!-- <p style="color: red;">{{ message }}</p> -->
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}
